/*头部 header*/
body{background: #f5f5f5;}
#header{}
.search-box {height: 40px;position: fixed; top: 0; left: 0; width: 100%; z-index: 99;}
.search-box .search-tb {line-height: 39px;margin: 0 10px;height: 100%;}
.search-form { padding-right: 36px;display: inline-block; height: 100%; width: 100%;}
.search-form-box { position: relative; background: white; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; height: 29px; margin-top: 6px; overflow: hidden; }
.search-form-icon { background: url(../assets/images/search.png) no-repeat right center; background-size: 12px 12px; width: 12px; height: 12px; display: inline-block; position: relative; top: 9px; float: left; margin: 0 5px 0 10px; }
.search-form-input { position: absolute; left: 0; top: 0; width: 100%; padding-left: 53px; padding-right: 10px; height: 100%; display: inline-block; }
.search-form-input input { border: 0; outline: none; display: inline-block; background: 0; font-size: 12px; line-height: 16px; height: 16px; width: 100%; vertical-align: middle; margin-top: -11px; color: #666; text-overflow: ellipsis; white-space: nowrap; }
.search-login { display: inline-block;position: absolute; right: 10px; top: 0;}
.search-icon-login { font-size: 13px; color: #fff;display: inline-block;}

/*轮播图*/
.swiper-container { width: 100%; height: 200px;}
.swiper-wrapper{}
.swiper-slide{}
.swiper-slide img{width: 100%; height: 100%;}

/*底部 nav*/
#nav{position: fixed;bottom: 0;left: 0;z-index: 99;width: 100%;height: 1.2rem;border-top: 0.02rem solid #b2b2b2;padding-top: 0.1rem; background: #fff;}
#nav li{float: left;width: 33.333%;text-align: center;}
#nav li a{color: #666;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
#nav li img{width: 0.6rem;height: 0.6rem;display: inline-block;}

/*shop*/
.shop-header{position: fixed;top: 0;left: 0;width: 100%;height: 1.6rem;overflow: hidden;z-index: 199;background: #F5F5F5;}
.shop-header .shop-logo{width: 100%;height: 0.8rem;text-align: center;}
.shop-header .shop-logo img{width: 28%;height: 0.7rem;margin-top: 0.1rem;}

.shop-search-box {height: 0.8rem;width: 100%; z-index: 99;position: relative;}
.shop-search-box .shop-search-tb {line-height: 39px;margin: 0 10px;height: 100%;}
.shop-search-form { padding-right: 36px;display: inline-block; height: 100%; width: 100%;}
.shop-search-form-box { position: relative; background: white; border: 1px solid #aaa; -moz-border-radius: 15px; -webkit-border-radius: 15px; border-radius: 15px; height: 29px; margin-top: 6px; overflow: hidden; }
.shop-search-form-icon { background: url(../assets/images/search.png) no-repeat right center; background-size: 12px 12px; width: 12px; height: 12px; display: inline-block; position: relative; top: 9px; float: left; margin: 0 5px 0 10px; }
.shop-search-form-input { position: absolute; left: 0; top: 0; width: 100%; padding-left: 53px; padding-right: 10px; height: 100%; display: inline-block; }
.shop-search-form-input input { border: 0; outline: none; display: inline-block; background: 0; font-size: 12px; line-height: 16px; height: 16px; width: 100%; vertical-align: middle; margin-top: -11px; color: #666; text-overflow: ellipsis; white-space: nowrap; }
.shop-search-login { display: inline-block;position: absolute; right: 10px; top: 0;}
.shop-search-icon-login { font-size: 13px; color: #666;display: inline-block;}

/*shop 轮播图*/
.shop-banner{position: absolute;top: 1.6rem;left: 0;width: 100%;height: 4rem;}
.shop-banner .swiper-container { width: 100%; height: 4rem;}
.shop-banner .swiper-container .swiper-wrapper{}
.shop-banner .swiper-container .swiper-wrapper .swiper-slide{}
.shop-banner .swiper-container .swiper-wrapper .swiper-slide img{width: 100%; height: 100%;}

/*layout*/
.layout{position: absolute;top: 5.6rem;left: 0;width: 100%;margin-top: 0.3rem;}
.layout .layout-item{width: 20%;float: left;text-align: center;line-height: 0.45rem;}
.layout .layout-item a{-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.layout .layout-item img{width: 1rem;height: 1rem;display: inline-block;border: 1px solid #333;border-radius: 50%;padding: 0.1rem;}

/*recommend*/
.recommend{position: absolute;top: 7.8rem;left: 0;width: 100%;padding:0.22rem; font-size: 0.26rem; line-height: 0.38rem;margin-bottom: 2rem;}
.recommend .recommend-item{width: 3.4rem;height: 4.5rem;border: 1px solid #ccc;float: left;margin-bottom: 0.22rem;padding: 0.22rem;}
.recommend .recommend-item a{color: #666;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
.recommend .recommend-item:nth-of-type(odd){margin-right: 0.22rem;}
.recommend .recommend-item .ri-img{}
.recommend .recommend-item .ri-img img{width: 100%;height: 2.5rem;}
.recommend .recommend-item .ri-title{height: 0.77rem;overflow: hidden;}
.recommend .recommend-item .ri-label{height: 0.4rem;overflow: hidden;}


/*product.html*/
.product-header{width: 100%;height: 1rem;line-height: 1rem;text-align: center;font-size: 0.32rem;}

.product-banner{position: absolute;top: 1rem;left: 0;width: 100%;height: 5rem;}
.product-banner .swiper-container { width: 100%; height: 6.6rem;}
.product-banner .swiper-container .swiper-wrapper{}
.product-banner .swiper-container .swiper-wrapper .swiper-slide{}
.product-banner .swiper-container .swiper-wrapper .swiper-slide img{width: 100%; height: 100%;}

